html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;  
  justify-content: space-between;
  padding: 0 20px 0 20px;
  flex-wrap: wrap;
}
nav img{
    width: 50px;
}
nav .logo{
  color: #fff;
  font-size: 27px;
  font-weight: 400;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #797451;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 25px 0 25px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 60px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #797451;
    font-weight: 500;
  }
}
.content{
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: fit-content;  
  color: #fff;
  z-index: -1;
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  font-size: 40px;
  font-weight: 200;
  z-index: 1;
  padding: 0 20px;
}
.main p{
    font-size: 19px;
}
.main a{
    font-size: 17px;
    width: fit-content;
    text-decoration: none;
    padding: 13px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: 10px;
}
.main a:hover{
    background: #797451;
    border: none;
    color: #fff;
}
.map{
    height: fit-content;
    background: #1b1b1b;
    z-index: 1;
}

 #map {
      height: 400px;
      margin: 20px;
      border: 2px solid #555;
      border-radius: 10px;
    }
.form_container{
  margin-top: -170px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
form{
    background: rgba(255,255,255, 0.1);
    display: flex;
    flex-direction: column;
    padding: 2vw 5vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 270px;
}
.logomass{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
form img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
form h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
form label{
    font-weight: 400;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}
form input, form textarea, select{
    border: 0;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgba(255,255,255, 0.9);
    font-size: 16px;
}
form label i{
    margin-right: 10px;
}
form button{
    padding: 10px;
    background: #797451;
    color: #000;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 10px;
    transition: all .2s;
}
form button:hover{
    scale: 1.08;
    background: #797451;
    color: #000;
    border: 0;
    box-shadow: 0 10px 15px #2d2a30;
}